
.btn2{
  background-color: #17a2b8!important;
  color: white;
 }
 .container{
 position: relative;
 top:20%;
   padding: 30px;
   border: 2px solid #17a2b8!important;
   background-color:white;
  width: 40%;
}
.box-main{
  overflow: hidden;
height: 100%;
width: 100%;
  /* background-color:#2193b0 → #6dd5ed; */
  background-image: linear-gradient(to right,#2193b0, #6dd5ed);
}