<div>
    <div class="form-group">
        <label for="file">Choose File</label>
        <input type="file" id="file" (change)="handleFileInput($event.target.files)">
    </div>
    <br>
    <div>
        <button mat-raised-button color="warn" (click)="uploadFileToActivity()">Submit file</button>
    </div>
    <div> <br>
        <input type="button" (click)="download()" *ngIf='isSubmitted' value="Download " />
    </div>

    <div>
        <br>
        <button class="btn btn-primary" [disabled]="loading" (click)="downloadExcel()"><i class="fa"
                [ngClass]="{'fa-spin fa-spinner': loading, 'fa-download': !loading}">

            </i> {{button}}</button>
    </div>
</div>